name: Build and Release
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

permissions:
  contents: write
  pull-requests: write
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    name: Build image
    runs-on: ubuntu-latest
    outputs:
      meta-tag: ${{ steps.meta.outputs.tags }}
    steps:
      - id: repository_string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get current date
        id: date
        uses: Kaven-Universe/github-action-current-date-time@v1
        with:
          format: "YYYY.MM.DD"
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ steps.repository_string.outputs.lowercase }}:${{ github.sha }}
          build-args: |
            HOST_ENV=prod
            VERSION=${{ steps.date.outputs.time }}
            CONTROL_PANEL_API=https://remotefalcon.com/remote-falcon-control-panel
            VIEWER_API=https://remotefalcon.com/remote-falcon-viewer
            VIEWER_JWT_KEY=${{ secrets.VIEWER_JWT_KEY }}
            GOOGLE_MAPS_KEY=${{ secrets.GOOGLE_MAPS_KEY }}
            PUBLIC_POSTHOG_KEY=${{ secrets.PUBLIC_POSTHOG_KEY }}
            GA_TRACKING_ID=${{ secrets.GA_TRACKING_ID }}
            HOSTNAME_PARTS=2
            BROWSER_TITLE=Remote Falcon
            BROWSER_ICON=rf-icon.png
            META_TITLE=Remote Falcon - Let viewers take control of your light show
            META_DESCRIPTION=Create a custom website where viewers can see and request sequences for your light show.
            META_KEYWORDS=FPP, FalconPlayer, Falcon, Lights, Light Shows, Light Show, Holiday, Holiday Lighting, LED, Pixels, Remote Falcon, remotefalcon, xLights, xSchedule, Falcon Player
            SOCIAL_META=<meta property='og:locale' content='en_US'/><meta property='og:type' content='website'/><meta property='og:url' content='https://remotefalcon.com/'/><meta property='og:site_name' content='remotefalcon.com'/><meta property='article:publisher' content='https://www.facebook.com/groups/remotefalcon'/><meta property='og:title' content='Remote Falcon - Let viewers take control of your light show'/><meta property='og:description' content='Create a custom website where viewers can see and request sequences for your light show.'/><meta property='og:image' content='https://remotefalcon.com/jukebox.png'/>
  release-production:
    name: Release Production
    environment: prod
    needs: [build-and-push]
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - id: repository_string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: cschleiden/replace-tokens@v1
        name: Replace tokens in manifest
        with:
          files: './k8s/manifest.yml'
        env:
          Namespace: remote-falcon
          Application: remote-falcon-ui
          Env: prod
          Replicas: 2
          Image: ${{ env.REGISTRY }}/${{ steps.repository_string.outputs.lowercase }}:${{ github.sha }}
          Requests.Memory: 250Mi
          Requests.CPU: 250m
          Limits.Memory: 500Mi
          Limits.CPU: 500m
          Host: remotefalcon.com
          SubdomainHost: '*.remotefalcon.com'

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Save DigitalOcean kubeconfig
        run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 4fee5fb4-939b-4d7a-8eb0-1b31115a74dc

      - name: Kubectl apply
        run: kubectl apply -f ./k8s/manifest.yml

      - name: Kubectl rollout monitor
        run : kubectl rollout status deployment remote-falcon-ui --namespace remote-falcon
